<div class="row col-md-offset-1">
  <div class="col-md-10">
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr>
          <th style="text-align: center; vertical-align: middle;">Status</th>
          <th style="text-align: center; vertical-align: middle;">Date</th>
          <th style="text-align: center; vertical-align: middle;">Activity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>...........</th>
          <th>...........</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>...........</th>
          <th>...........</th>
          <th>...........</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>