<div class="row col-md-offset-1">
  <div class="col-md-4">
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr align="right">
          <th colspan="2" style="text-align: center; vertical-align: middle;">Policy Holder Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Policy no</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Policy holder</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Insurer</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Address</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Suburb</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Postcode</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>State</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Phone</th>
          <th>...........</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr align="right">
          <th colspan="2" style="text-align: center; vertical-align: middle;">Claim Details</th>
        </tr>
      </thead>
      <tbody height="200px">
        <tr>
          <th>Pet Name</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Microchip</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Breed</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Amount</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Vet Hub Reference no</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>claim Reference no</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>claim no</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>status</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>status</th>
          <th>...........</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row col-md-offset-1">
  <div class="col-md-4">
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr align="right">
          <th colspan="2" style="text-align: center; vertical-align: middle;">Vet Practice Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Vet Practice</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Submitted by</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Address</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>subrub</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Postcode</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>State</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Phone</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>...........</th>
        </tr>
        <tr>
          <th>VPMS & Version</th>
          <th>...........</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>