<div class="row col-md-offset-1">
  <div class="col-md-4">
    <!-- {{funct()}} -->
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr align="right">
          <th colspan="2" style="text-align: center; vertical-align: middle;">Policy Holder Information</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let HolderContent of policyHolderContent">
          <th>{{policyHolderRowNames[HolderContent]}}</th>
          <th>{{claimsDetails[HolderContent]}}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr align="right">
          <th colspan="2" style="text-align: center; vertical-align: middle;">Claim Details</th>
        </tr>
      </thead>
      <tbody height="200px">
        <tr *ngFor="let claimContent of claimDetailsContent">
          <th>{{claimDetailsRowNames[claimContent]}}</th>
          <th *ngIf="claimsDetails[claimContent]">{{claimsDetails[claimContent]}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row col-md-offset-1">
  <div class="col-md-4">
    <table class="table" border="1">
      <thead class="thead-inverse">
        <tr align="right">
          <th colspan="2" style="text-align: center; vertical-align: middle;">Vet Practice Information</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vetContent of vetPractice">
          <th>{{vetPracticeRowNames[vetContent]}}</th>
          <th>{{claimsDetails[vetContent]}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>