<div class="row col-md-offset-1">
  <div class="col-md-10">
    <table *ngFor = "let singleAttach of attachList" class="table" border="1">
      <thead class="thead-inverse">
        <!-- Columns names -->
        <tr>
          <th class = "col-md-3" style="text-align: center; vertical-align: middle;">Attachment ID </th>
          <th class = "col-md-3" style="text-align: center; vertical-align: middle;">Submitted date & time</th>
          <th class = "col-md-3" style="text-align: center; vertical-align: middle;">Attachment status</th>
          <th class = "col-md-3" style="text-align: center; vertical-align: middle;">Attachment</th>
        </tr>
      </thead>
      <tbody>
        <!-- content -->
        <tr *ngFor = "let rowDetail of singleAttach">
          <th class = "col-md-3">{{rowDetail["attachmentId"]}}</th>
          <th class = "col-md-3">{{rowDetail["attachmentSubmittedDate"]}}</th>
          <th class = "col-md-3">{{rowDetail["attachmentStatus"]}}</th>
          <th class = "col-md-3"><a>{{rowDetail["attachmentUrl"]}}</a></th>
        </tr>
        
      </tbody>
    </table>
    <br>
    <br>
  </div>
</div>