<!--The content below is only a placeholder and can be replaced.-->
<div class="col-md-offset-1">
  <h2> VetHub Claims</h2>
</div>
<br>
<form (ngSubmit)="searchPet()">
  <div class="row">

    <div class="col-md-2 col-md-offset-1">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="policyNumber" [(ngModel)]="policyNumber" class="form-control" name="policyNumber" placeholder="Policy number" aria-label="Policynumber" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="policyHolder" [(ngModel)]="policyHolder" name="policyHolder" class="form-control" placeholder="Policy holder" aria-label="Policyholder" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="vetPractice" [(ngModel)]="vetPractice" name="vetPractice" class="form-control" placeholder="Vet practice" aria-label="Vetpractice" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="petName" [(ngModel)]="petName" name="petName" class="form-control" placeholder="Pet name" aria-label="Petname" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2 ">
      <select class="form-control input-group input-group-lg" id="status" [(ngModel)]="selectedValue" name="status" placeholder="Status" style="height:45px; line-height:45px; font:serif; font-size:18px; " id="status">
        <option *ngFor="let sts of status">{{sts}}</option>
      </select>
    </div>

  </div>


  <div class="row">

    <div class="col-md-2 col-md-offset-1">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="vetHubRef" [(ngModel)]="vetHubRef" name="vetHubRef" class="form-control" placeholder="VetHub Ref#" aria-label="vethubref" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="claimRef" [(ngModel)]="claimRef" name="claimRef" class="form-control" placeholder="Claim Ref#" aria-label="Claimref" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group input-group input-group-lg ">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input type="text" id="claim" [(ngModel)]="claim" name="claim" class="form-control" placeholder="Claim#" aria-label="Claim" aria-describedby="sizing-addon1">
      </div>
    </div>

    <div class="col-md-2">
      <div class="input-group input-group-lg date">
        <label class="form-group form-group-lg" style="font-family:serif; font-size:20px;" for="submittedDateFrom">submitted date (from)</label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="input-group input-group-lg date">
        <input type="text" id="submittedDateFrom" type="date" [(ngModel)]="submittedDateFrom" name="submittedDateFrom" class="form-control">
      </div>
    </div>

  </div>

  <br>

  <div class="row">

    <div class="col-md-2 col-md-offset-7">
      <div class="input-group input-group-lg date">
        <label class="form-group form-group-lg" style="font-family:serif; font-size:20px;" for="submittedDateTO">submitted date (to)</label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="input-group input-group-lg date">
        <input type="text" id="submittedDateTo" type="date" [(ngModel)]="submittedDateTo" name="submittedDateTo" class="form-control">
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="row">

    <div class="col-md-1 col-md-offset-9" style="text-align:right">
      <div class="input-group input-group-lg">
        <button type="submit" class="btn btn-primary form-control">Search</button>
      </div>
    </div>

    <div class="col-md-1" style="text-align:right">
      <div class="input-group input-group-lg">
        <button type="button" class="btn btn-primary form-control">Clear</button>
      </div>
    </div>

  </div>

</form>
